@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

/* =======================================================
*
* 	Template Style 
*	Edit this section
*

* ======================================================= */
$main-color: #d9534f;

body {
  font-family: "Karla", Arial, sans-serif;
  line-height: 1.8;
  font-size: 16px;
  font-weight: 400;
  background: #fafafa;
  color: gray;
  &.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }
}

#sonpham-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  > div {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
}

a {
  color: $main-color;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  &:hover {
    text-decoration: underline;
    color: #CA82F8;
  }
  &:focus, &:active {
    outline: none;
  }
}

p, span {
  margin-bottom: 1.5em;
  font-weight: 400;
  font-family: "Karla", Arial, sans-serif;
}

ul, ol {
  display: block;
  margin-bottom: 1.5em;
}

span {
  font-size: 18px;
  color: rgba(114, 114, 114, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Abril Fatface', cursive;
  margin: 0 0 30px 0;
}

::-webkit-selection, ::-moz-selection, ::selection {
  color: #fcfcfc;
  background: #b7c2c2;
}

#sonpham-page {
  position: relative;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.menu-show #sonpham-page {
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -ms-transform: scale(0.99);
  -o-transform: scale(0.99);
  transform: scale(0.99);
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.4);
  }
}

@media screen and (max-width: 768px) {
  #sonpham-page {
    padding-top: 5em;
  }
}

#sonpham-main-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 4em 40px 40px 40px;
  width: 360px;
  height: 100%;
  background: white;
  z-index: 1002;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  overflow-y: scroll;
  .sonpham-nav-toggle {
    position: absolute;
    top: 5px;
    right: 40px;
    padding: 20px;
    height: 44px;
    width: 44px;
    background: rgba(0, 0, 0, 0.05);
    line-height: 0;
    padding: 0 !important;
    visibility: hidden;
    opacity: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    i {
      top: 18px !important;
      left: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
      line-height: 0;
      text-indent: 0;
    }
    &.show {
      visibility: visible;
      opacity: 1;
    }
    &:hover {
      background: black;
      i {
        &::before, &::after {
          content: '';
          width: 20px;
          height: 1px;
          background: #fff;
          position: absolute;
          left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #sonpham-main-nav {
    width: 300px;
  }
}

.menu-show #sonpham-main-nav {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

#sonpham-main-nav {
  ul {
    padding: 0;
    margin: 0 0 3em 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: left;
      a {
        display: block;
        color: black;
        font-size: 14px;
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: 400;
        &:hover, &:active, &:focus {
          color: black;
          outline: none;
          text-decoration: none;
        }
      }
      &.active a {
        color: #CA82F8;
      }
    }
  }
  .form-group {
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    input {
      &::-webkit-input-placeholder, &::-moz-input-placeholder, &::-ms-input-placeholder, &::-o-input-placeholder, &::input-placeholder {
        color: #333333;
      }
    }
  }
  #search {
    font-size: 14px;
    width: 100%;
    padding-right: 3em;
    border: none;
    border: 2px solid #f2f2f2;
    background: #fafafa;
    color: #333333 !important;
  }
  button {
    position: absolute;
    top: 0;
    right: -4px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background: #CA82F8;
    color: #fff;
    border: none;
    padding: 16px;
  }
  #email {
    font-size: 18px;
    width: 100%;
    border: none;
    border: 2px solid #fff;
    background: #fff;
    color: #333333 !important;
  }
  .gallery {
    float: left;
    width: 50%;
    height: 150px;
    position: relative;
    display: table;
    z-index: 0;
    text-decoration: none;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      z-index: -1;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    span {
      display: table-cell;
      vertical-align: middle;
      height: 150px;
      opacity: 0;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      i {
        color: #fff;
        font-size: 20px;
      }
    }
    &:hover:after, &:focus:after, &:hover span, &:focus span {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  #sonpham-main-nav ul {
    padding: 20px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  #sonpham-main-nav ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  #sonpham-main-nav .form-group {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #sonpham-main-nav .gallery {
    width: 25%;
  }
}

@media screen and (max-width: 480px) {
  #sonpham-main-nav .gallery {
    width: 50%;
  }
}

header {
  padding: 2em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  margin: 0 auto;
  .sonpham-navbar-brand {
    float: left;
    .sonpham-logo {
      font-size: 20px;
      text-transform: uppercase;
      color: #000;
      font-weight: 400;
      letter-spacing: 5px;
      padding: 7px;
      border: 1px solid #000;
      display: block;
      text-align: center;
      background: #000;
      span {
        display: block;
        margin-bottom: 0;
        line-height: 1.2;
        color: #fff;
      }
      &:hover {
        text-decoration: none !important;
      }
      &:active, &:focus {
        outline: none;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 2em 0;
  }
}

#sonpham-services, #sonpham-contact, #sonpham-work, #sonpham-blog, #sonpham-testimony, #sonpham-progress, #sonpham-contact, #sonpham-about {
  padding: 10em 0;
  clear: both;
  position: relative;
}

@media screen and (max-width: 768px) {
  #sonpham-services, #sonpham-contact, #sonpham-work, #sonpham-blog, #sonpham-testimony, #sonpham-progress, #sonpham-contact, #sonpham-about {
    padding: 5em 0;
  }
}

.rotate {
  position: absolute;
  top: .4em;
  left: -50px;
  .heading {
    font-family: "Karla", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -ms-transform-origin: left top 0;
    -o-transform-origin: left top 0;
    transform-origin: left top 0;
    position: relative;
    &:after {
      position: absolute;
      top: 8px;
      right: -40px;
      content: '';
      background: #000;
      width: 40px;
      height: 1px;
    }
  }
}

.about-desc {
  padding-top: 3em;
  h2 {
    line-height: 1.3;
    span {
      display: block;
      margin-bottom: 0;
      color: #000;
      font-size: 50px;
      font-family: "Playfair Display", Georgia, serif;
    }
  }
  .desc {
    padding-left: 6em;
    position: relative;
  }
  .rotate {
    position: absolute;
    top: 7px;
    left: 30px;
    .heading {
      font-family: "Karla", Arial, sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1em;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transform-origin: left top 0;
      -ms-transform-origin: left top 0;
      transform-origin: left top 0;
      position: relative;
      &:after {
        position: absolute;
        top: 8px;
        right: -40px;
        content: '';
        background: #000;
        width: 40px;
        height: 1px;
      }
    }
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.bold {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 250px;
  color: #f0f0f0;
  letter-spacing: 0.085em;
}

@media screen and (max-width: 768px) {
  .bold {
    font-size: 60px;
  }
}

.intro-heading {
  margin-bottom: 3em;
  h2 {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5em;
    color: #000;
    position: relative;
  }
  span {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #bfbfbf;
    font-weight: 600;
  }
}

.services-img, .work-img, .gallery {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.progress-head {
  font-size: 22px;
}

.progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress-left {
    left: 0;
  }
  .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    top: 0;
    border: 1px solid #000;
  }
  .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
  }
  .progress-right {
    right: 0;
    .progress-bar {
      left: -100%;
      border-top-left-radius: 80px;
      border-bottom-left-radius: 80px;
      border-right: 0;
      -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
      transform-origin: center right;
      -webkit-animation: loading-1 1.8s linear forwards;
      animation: loading-1 1.8s linear forwards;
    }
  }
  .progress-value {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    font-size: 32px;
    line-height: 125px;
    text-align: center;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
  }
  &.blue {
    .progress-bar {
      border-color: #049dff;
    }
    .progress-value {
      color: #049dff;
    }
    .progress-left .progress-bar {
      -webkit-animation: loading-2 1.5s linear forwards 1.8s;
      animation: loading-2 1.5s linear forwards 1.8s;
    }
  }
  &.yellow {
    .progress-bar {
      border-color: #fdba04;
    }
    .progress-value {
      color: #fdba04;
    }
    .progress-left .progress-bar {
      -webkit-animation: loading-3 1s linear forwards 1.8s;
      animation: loading-3 1s linear forwards 1.8s;
    }
  }
  &.pink {
    .progress-bar {
      border-color: #ed687c;
    }
    .progress-value {
      color: #ed687c;
    }
    .progress-left .progress-bar {
      -webkit-animation: loading-4 0.4s linear forwards 1.8s;
      animation: loading-4 0.4s linear forwards 1.8s;
    }
  }
  &.green {
    .progress-bar {
      border-color: #1abc9c;
    }
    .progress-value {
      color: #1abc9c;
    }
    .progress-left .progress-bar {
      -webkit-animation: loading-5 1.2s linear forwards 1.8s;
      animation: loading-5 1.2s linear forwards 1.8s;
    }
  }
}

@-webkit-keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}


@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}


@-webkit-keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
  }
}


@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
  }
}


@-webkit-keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}


@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}


@-webkit-keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}


@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}


@-webkit-keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(125deg);
    transform: rotate(125deg);
  }
}


@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(125deg);
    transform: rotate(125deg);
  }
}


@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}

.services-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
  .one-third {
    width: 55%;
    padding: 3em 2em 3em 0;
  }
  .one-forth {
    width: 45%;
    .one-third, .one-forth {
      display: inline-block;
    }
  }
  .one-third, .one-forth {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .services-flex .one-forth {
    .one-third, .one-forth {
      height: 400px;
    }
  }
}

@media screen and (max-width: 768px) {
  .services-flex {
    .one-third, .one-forth {
      width: 100%;
      display: block;
    }
  }
}

.services {
  margin-bottom: 4em;
  h3 {
    font-family: "Karla", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
  }
  ul li {
    list-style: none;
    margin-bottom: 10px;
    &::before {
      content: '\2022';
      color: #000;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.work-entry {
  display: block;
  margin-bottom: 5em;
  width: 100%;
  float: left;
  .work-img {
    width: 100%;
    height: 700px;
    margin-bottom: 40px;
    display: table;
    text-align: center;
    text-decoration: none;
    .display-t {
      display: table-cell;
      vertical-align: middle;
      height: 700px;
      position: relative;
      z-index: 0;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: rgba(0, 0, 0, 0.4);
        z-index: -1;
        opacity: 0;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }
      .work-name {
        display: inline-block;
        padding: 4em 3em;
        background: #fff;
        -webkit-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
        -ms-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
        -o-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
        box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
        z-index: 1;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        border-radius: 0.25em;
        h2 {
          margin: 0;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
        }
      }
    }
    &:hover .display-t {
      &:after {
        opacity: 1;
      }
      .work-name {
        padding: 4.5em 3.5em;
        h2 {
          font-size: 34px;
        }
      }
    }
  }
  .desc .read {
    text-align: right;
    a {
      color: #000;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 12px;
      position: relative;
      &:after {
        position: absolute;
        top: 7px;
        left: -60px;
        right: 0;
        content: '';
        width: 40px;
        height: 1px;
        background: #000;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .work-entry .work-img {
    height: 400px;
    .display-t {
      height: 400px;
    }
  }
}

#sonpham-blog {
  .owl-carousel {
    z-index: 0;
    .owl-stage-outer {
      z-index: -1;
    }
  }
  .owl-theme .owl-controls {
    margin-top: -10px;
    z-index: 1;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin-top: -30px;
    .owl-nav [class*=owl-] {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      border-radius: 1px;
      background: transparent;
      background: #fff;
      padding: 5px 5px;
      opacity: 1;
      .owl-direction {
        background: transparent;
        color: #000;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
      }
    }
  }
}

.article {
  display: block;
  margin-bottom: 6em;
  .blog-img {
    margin-bottom: 50px;
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    img {
      position: relative;
      max-width: 100%;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    .link {
      position: absolute;
      bottom: 0;
      left: 90%;
      display: table;
      width: 100%;
      opacity: 0;
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s;
      .read {
        display: table-cell;
        vertical-align: middle;
        font-family: "Karla", Arial, sans-serif;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
        transform-origin: 0;
        position: relative;
        &:after {
          position: absolute;
          top: 10px;
          left: -50px;
          content: '';
          background: #fff;
          width: 40px;
          height: 1px;
        }
      }
    }
    &:hover {
      .overlay {
        opacity: 1;
      }
      .link {
        opacity: 1;
        bottom: 50px;
      }
      img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
  .desc {
    position: relative;
    .meta {
      position: absolute;
      top: -80px;
      left: 20px;
      background: #FFE9E3;
      color: #000;
      padding: 20px 10px;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 4px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      -webkit-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
      -moz-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
      -ms-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
      -o-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
      box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
    }
    h2 {
      font-size: 24px;
      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
  &:hover .meta {
    background: #fff;
  }
}

#sonpham-testimony .owl-theme .owl-dots .owl-dot {
  &.active span, &:hover span {
    height: 3px;
    background: #000;
  }
  span {
    width: 30px;
    height: 2px;
    background: #e6e6e6;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
}

.testimony blockquote {
  border: none;
  p, span {
    font-family: "Playfair Display", Georgia, serif;
    color: #000;
    font-size: 30px;
  }
}

.f-entry {
  position: relative;
  margin-bottom: 40px;
  .desc {
    h3 {
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 10px;
      a {
        color: #4d4d4d;
        text-decoration: none;
      }
    }
    span {
      color: #000;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: block;
      margin-bottom: 10px;
    }
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 13px !important;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
  &.btn-md {
    padding: 8px 20px !important;
  }
  &.btn-lg {
    padding: 18px 36px !important;
  }
  &:hover, &:active, &:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn-primary {
  background: #CA82F8;
  color: #fff;
  border: 2px solid #CA82F8;
  &:hover, &:focus, &:active {
    background: #d49af9 !important;
    border-color: #d49af9 !important;
  }
  &.btn-outline {
    background: transparent;
    color: #4d4d4d;
    border: 1px solid #d9d9d9;
    &:hover, &:focus, &:active {
      background: #CA82F8;
      color: #fff;
    }
  }
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
  &:hover, &:focus, &:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important;
  }
  &.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c;
    &:hover, &:focus, &:active {
      background: #5cb85c;
      color: #fff;
    }
  }
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
  &:hover, &:focus, &:active {
    background: #46b8da !important;
    border-color: #46b8da !important;
  }
  &.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de;
    &:hover, &:focus, &:active {
      background: #5bc0de;
      color: #fff;
    }
  }
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
  &:hover, &:focus, &:active {
    background: #eea236 !important;
    border-color: #eea236 !important;
  }
  &.btn-outline {
    background: transparent;
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
    &:hover, &:focus, &:active {
      background: #f0ad4e;
      color: #fff;
    }
  }
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
  &:hover, &:focus, &:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important;
  }
  &.btn-outline {
    background: transparent;
    color: #d9534f;
    border: 2px solid #d9534f;
    &:hover, &:focus, &:active {
      background: #d9534f;
      color: #fff;
    }
  }
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  &:hover, &:focus, &:active {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.row-padded-bottom {
  margin-bottom: 4em;
}

.col-pb-sm {
  margin-bottom: 5em !important;
  &:last-child {
    margin-bottom: 0;
  }
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  &:hover {
    padding-right: 50px;
    i {
      color: #fff;
      right: 18px;
      visibility: visible;
      opacity: 1;
    }
  }
}

.sonpham-nav-toggle {
  cursor: pointer;
  text-decoration: none;
  &.active i {
    &::before, &::after {
      background: #000;
    }
  }
  &.dark.active i {
    &::before, &::after {
      background: #000;
    }
  }
  &:hover, &:focus, &:active {
    outline: none;
    border-bottom: none !important;
  }
  i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 20px;
    height: 2px;
    color: #000;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #000;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
}

.menu-show .sonpham-nav-toggle i {
  background: #000;
  color: #fff;
}

.sonpham-nav-toggle i {
  &::before, &::after {
    content: '';
    width: 20px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
}

.menu-show .sonpham-nav-toggle i {
  &::before, &::after {
    background: #333333;
  }
}

.sonpham-nav-toggle {
  &.dark i {
    position: relative;
    color: #fff;
    background: #fff;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    &::before, &::after {
      background: #fff;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
  }
  i {
    &::before {
      top: -7px;
    }
    &::after {
      bottom: -7px;
    }
  }
  &:hover i {
    &::before {
      top: -10px;
    }
    &::after {
      bottom: -10px;
    }
  }
  &.active i {
    background: transparent;
    &::before {
      top: 0;
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
    }
    &::after {
      bottom: 0;
      -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
      -o-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
    }
  }
  float: right;
  z-index: 1003;
  position: relative;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .sonpham-nav-toggle {
    display: block;
    top: 0px;
  }
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
  li {
    list-style: none;
    margin: 0 0 30px 0;
    position: relative;
    padding-left: 60px;
    span {
      position: absolute;
      top: -0.3em;
      left: 0;
      width: 40px;
      height: 40px;
      background: #fff;
      display: table;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
    }
    i {
      display: table-cell;
      vertical-align: middle;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);
    }
    a {
      color: #d9534f;
    }
  }
}

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: transparent;
  font-size: 16px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  &:focus, &:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: transparent;
  }
}

input[type="text"] {
  height: 50px;
}

.form-group {
  margin-bottom: 30px;
}

.sonpham-social-icons {
  a {
    &:hover, &:focus {
      text-decoration: none !important;
    }
  }
  i {
    font-size: 24px;
    color: rgb(22, 22, 22);
    margin: 5px;
  }
}

#footer {
  padding: 8em 0;
  display: block;
  width: 100%;
  h2 {
    color: #000;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 2em;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
    &.sonpham-social-icons {
      a {
        &:hover, &:focus {
          text-decoration: none !important;
        }
      }
      i {
        font-size: 24px;
        color: #CA82F8;
      }
    }
    .block {
      color: #1a1a1a;
      font-size: 14px;
    }
  }
  .subscribe {
    .form-control {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      border: none;
      border: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 16px;
      background: #fafafa;
      font-weight: 400;
      margin-bottom: 5px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      &:focus, &:active {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 2px solid rgba(202, 130, 248, 0.8);
      }
    }
    .btn-custom {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
    }
  }
}

.js .animate-box {
  opacity: 0;
}